<h2>Sitzverteilung im Bundestag</h2>
<table>
  <tr>
    <th>Partei</th>
    <th>Anzahl der Sitze</th>
  </tr>
  <tr ng-repeat="partei in sitzverteilung">
    <td>{{partei.name}}</td>
    <td>{{partei.sitze}}</td>
  </tr>
</table>

<div chart></div>

<h2>Mitglieder des Bundestages</h2>
<table>
  <tr>
    <th>Vorname</th>
    <th>Name</th>
    <th>Partei</th>
    <th>Wahlkreis</th>
  </tr>
  <tr ng-repeat="kandidat in bundestagmitglieder">
    <td>{{kandidat.vorname}}</td>
    <td>{{kandidat.name}}</td>
    <td>{{kandidat.partei}}</td>
    <td>{{kandidat.wahlkreis}}</td>
  </tr>
</table>

<h2>Ueberhangmandate</h2>
<table>
  <tr>
    <th>Bundesland</th>
    <th>Partei</th>
    <th>Anzahl der Ueberhangmandate</th>
  </tr>
  <tr ng-repeat="mandat in ueberhangmandate | filter:'!0'">
    <td>{{mandat.bundesland}}</td>
    <td>{{mandat.partei}}</td>
    <td>{{mandat.ueberhangmandate}}</td>
  </tr>
</table>